@charset "UTF-8";

body {
    background-color: rgb(204, 250, 200);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(64, 153, 56);
}

h1#principal {
    text-align: center;
    background-color: rgb(64, 153, 56);
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}

h2 {
    color: rgb(62, 150, 56);
}

.basico {
    color: rgb(62, 150, 56);
}

.intermediario {
    color: rgb(136, 150, 56);
}

.avancado {
    color: rgb(150, 56, 56);
}

.destaque {
    background-color: rgba(218, 199, 31, 0.404);
}